@config '../tailwind.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

body {
  background-color: rgb(55,55,55);
  margin: 0;
  /* overflow: hidden; */
}

/* Display attributes */
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33%;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.third-height {
  height: 33%;
}

.overlay {
  @apply absolute inset-0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.center {
  margin-top: 1em;
  margin-left: 1em;
}

.form-center {
  padding: 1em;
  width: 30em;
  margin: auto;
}

.round-edges {
  border-radius: 10px;
}

.divider {
  border-top: 3px solid rgb(255, 90, 90);
  border-radius: 5px;
}

.form {
  background-color: rgb(100,100,100);
  position: relative;
  top: 5em;
}

.login-form, .register-form {
  display: flex;
  flex-flow: column;
}

nav[id="navbar"] {
  background-color: rgb(165, 165, 165);
  height: 80px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
}

div[id="body"] {
  height: calc(100vh - 80px);
}

nav div {
  height: 80%;
  width: 100%;
}

.nav-left, .nav-right, .nav-fill {
  text-align: center;
  line-height: 5em;
  height: 100%;
}

.nav-left {
  width: 20%;
}

.nav-right {
  display: flex;
  width: 40%;
}

.nav-fill {
  display: flex;
}

.right-option {
  height: 100%;
}

.center-align {
  height: 45px;
  margin-top: 1rem;
}

.nav-submit {
  background-color: rgb(207, 175, 70);
}

#strengthDiv{
  display: none;
}

#strengthDivBar{
  display: none;
  background: red;
  visibility: visible;
  width: 33%;
}

.dropdown-menu {
  display: none;
}

.btn-group:hover .dropdown-menu {
  display: block;
  top: 2.5em;
}

#upload, #profile {
  width: 50%;
}

.border-radius-5 {
  border-radius: 5px;
}

.upload-options-group {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#dropdown-toggle-icon {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.dropdown-toggle {
  position: relative;
  display: inline-block;
}

#dropdown-toggle-icon:hover {
  transform: rotate(-45deg);
}

.dropdown-toggle:hover .upload-dropdown-menu {
  display: block;
}

.upload-dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: transparent;
}

.dropdown-item-icon {
  width: 80%;
  height: 80%;
  margin-left: 7px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.upload-dropdown-item {
  opacity: 0;
  position: relative;
}

.upload-dropdown-item:nth-child(1) {
  animation: slideOut 1s ease forwards, fadeIn 0.5s ease forwards;
  --distance-factor: 0.4;
}

.upload-dropdown-item:nth-child(2) {
  animation: slideOut 1s ease forwards 0.2s, fadeIn 0.5s ease forwards 0.2s;
  --distance-factor: 0.3;
}

.upload-dropdown-item:nth-child(3) {
  animation: slideOut 1s ease forwards 0.4s, fadeIn 0.5s ease forwards 0.4s;
  --distance-factor: 0.2;
}

.upload-dropdown-item:nth-child(4) {
  animation: slideOut 1s ease forwards 0.6s, fadeIn 0.5s ease forwards 0.6s;
  --distance-factor: 0.1;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50px * var(--distance-factor)));
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.left-section {
  display: flex;
  border-right: 2px solid gray;
  background: linear-gradient(to right, rgb(55,55,55), gray);
  width: 660px;
}

.left-options {
  min-width: 5em;
  max-width: 5em;
}

.empty-left-side {
  min-width: 0px;
  width: 100%;
  max-width: 600px;
}

.right-section {
  display: flex;
  border-left: 2px solid gray;
  background: linear-gradient(to left, rgb(55,55,55), gray);
  width: 660px;
}

.right-options {
  min-width: 15em;
  max-width: 15em;
}

.empty-right-side {
  min-width: 0px;
  width: 100%;
  max-width: 600px;
}

.main-section {
  min-width: 600px;
  max-width: 600px;
}

.display-section-group {
  width: 100%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
  width: auto;
  opacity: 1;
  white-space: nowrap;
}

.post-container {
  width: 100%;
  height: auto;
}

.post-contents {
  display: flex;
  flex-direction: column;
}

.post-metadata-container, .post, .post-stats-container {
  border: 1px solid rgba(179, 171, 255, 0.3);
}

.post-metadata-container {
  padding: 5px;
  padding-bottom: 2.5px;
  border-bottom: 0;
}

.post-metadata {
  display: flex;
  height: 80px;
}

.post-metadata-avatar-container, .post-metadata-username-container, .post-metadata-time-container {
  @apply full-height;
}

.post-metadata-username-container, .post-metadata-time-container {
  width: auto;
}

.post-metadata-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
}

.post-metadata-avatar img {
  border-radius: 50px;
  padding: 5px;
  height: 80px;
}

.post-metadata-username, .post-metadata-time {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: rgb(220, 220, 220);
}

.post-metadata-username {
  font-weight: 700;
}

.post-metadata-time {
}

.dot-divider {
  width: 3px;
  height: 3px;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  margin-top: 22px;
  margin-left: 5px;
}

.post:not(:empty) {
  padding: 5px;
}

.post-text {
  height: 100px;
}

.post-text-area {
  width: 100%;
  height: 100%;
  color: #d6d6d6;
  background-color: transparent;
  padding: 7px 10px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  border-color: #bfbfbf;
  outline: none;
  resize: none;
}

.post-text-area:focus {
  border-color: #4671EA;
}

.post-text-area::-webkit-scrollbar {
  width: 0px;
}

.post-media {
  height: 440px;
}

.post-text + .post-media {
  margin-top: 5px;
}

.post-media + .post-text {
  margin-bottom: 5px;
}

.post-stats-container {
  border-top: 0;
  padding: 5px;
}

.post-stats {
  display: flex;
  border-radius: 5px;
  border: 2px solid #bfbfbf;
  height: 45px;
}

.post-likes-stat, .post-comments-stat, .post-reposts-stat {
  @apply full-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: rgb(220, 220, 220);
}

.post-likes-icon, .post-comments-icon, .post-reposts-icon {
  margin-top: 5px;
}

.post-likes-number, .post-comments-number, .post-reposts-number {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 5px;
}

.post-stats-overlay-container {
  @apply relative full-height full-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-stats-overlay {
  width: 50px;
  height: 30px;
  border-radius: 50px;
}

.post-stats-overlay:hover {
  background-color: rgba(255, 192, 203, 0.5);
}

.upload-media-container, .upload-display {
  @apply relative full-height full-width;
}

.upload-media, .upload-media-upload {
  @apply overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border: 2px dashed #bfbfbf;
  z-index: 2;
}

.upload-media-upload {
  border: 2px solid #4671EA;
}

.upload-media-icon, .upload-media-upload-icon {
  color: rgb(100,100,100);
}

.upload-media-upload-icon {
  color: #5d83ec;
}

/* Image display */
.media-display-container {
  @apply full-height full-width;
  padding: 10px;
}

.media-display {
  @apply full-height full-width;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.media-upload-display {
  @apply full-height full-width;
  object-fit: cover;
  display: block;
}

.left-display-container,
.right-display-container {
  @apply full-height full-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}